:root :not(pre) > code[class*="language-"] {
  padding: var(--size-1) var(--size-2);
  box-shadow: var(--inner-shadow-0), var(--shadow-1);
  color: var(--text-1);
  white-space: nowrap;
  text-shadow: none;
}

code.language-bash::before {
  content: '$ ';
  color: var(--cyan-1);

  @nest [data-theme="light"] & {
    color: var(--teal-6);
  }
}

code[class*="language-"],
pre[class*="language-"] {
  text-align: start;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}

pre[class*="language-"] {
  padding: var(--size-3);
  margin: var(--size-2) 0;
  overflow: auto;
  border-radius: var(--radius-conditional-2);
  background: var(--surface-2);

  @nest [data-theme="light"] & {
    background: white;
  }
}

code.language-css {
  color: var(--indigo-2);
  text-shadow: 
    0 0 10px var(--indigo-9),
    0 0 50px var(--indigo-9);

  @nest [data-theme="light"] & {
    color: var(--indigo-9);
    text-shadow: 
      0 0 10px var(--indigo-4),
      0 0 50px var(--indigo-7);
  }
}

.token {
  &:is(.property, .selector, .atrule > *) {
    color: var(--text-1);
    text-shadow: 0 1px 0 black;

    @nest [data-theme="light"] & {
      text-shadow: 0 1px 0 var(--gray-3);
    }
  }

  &:not(.function) + .punctuation {
    color: var(--text-2);
    text-shadow: none;
  }

  &:is(.string, .attr-value) {
    color: var(--teal-2);
    text-shadow: 
      0 0 10px var(--teal-9),
      0 0 50px var(--teal-9);

    @nest [data-theme="light"] & {
      color: var(--grape-9);
      text-shadow: 
        0 0 10px var(--grape-7),
        0 0 50px var(--grape-4);
    }
  }

  &.comment {
    color: var(--gray-5);
    font-style: italic;
    
    @nest [data-theme="light"] & {
      text-shadow: 0 1px 0 var(--gray-6);
    }
  }
}
