@import 'src/reset.css';
@import 'src/brand.css';
/* @import 'src/utilities.css'; */

body {
  display: grid;
  place-content: center;
  padding: var(--size-8);
}

main {
  display: grid;
  justify-items: flex-start;
  gap: var(--size-4-fluid);

  & > h1 {
    margin-block-end: var(--size-8);
    line-height: var(--font-leading-1);
    box-shadow: var(--shadow-2);
  }
}

h1 { font-size: var(--size-6-fluid) }
h2 { font-size: var(--size-5-fluid) }
h3 { font-size: var(--size-4-fluid) }
h4 { font-size: var(--size-3-fluid) }
