@import "open-props/src/index.css";
@import "open-props/src/extra/reset.css";

body {
  display: grid;
  place-content: center;
  padding-inline: var(--size-8);
  padding-block: var(--size-6);
}

section {
  padding-block: var(--size-fluid-6);
  
  &:not(:last-of-type) { border-block-end-width: var(--border-size-1) }
  &:nth-of-type(1) { border-color: var(--orange-5) }
  &:nth-of-type(2) { border-color: var(--red-5) }
  &:nth-of-type(3) { border-color: var(--pink-5) }
  &:nth-of-type(4) { border-color: var(--purple-5) }
  &:nth-of-type(5) { border-color: var(--indigo-5) }
  &:nth-of-type(6) { border-color: var(--blue-5) }
  &:nth-of-type(7) { border-color: var(--green-5) }
}

section {
  display: grid;
  gap: var(--size-4);
}

header {
  display: grid;
  gap: var(--size-2);
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-4);

  @media (--md-n-below) {
    justify-content: center;
  }

  & > a {
    color: var(--text-1);
    text-decoration-color: var(--brand);
  }

  & > a:first-child {
    flex: 2;
    display: inline-flex;
    align-items: center;
    gap: var(--size-2);

    & > svg {
      block-size: 3ch;
    }

    @media (--md-n-below) {
      flex-basis: 100%;
      justify-content: center;
    }
  }
}

.hero {
  & > h1 {
    background-image: var(--conic-gradient-3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (--OSdark) {
      background-image: var(--conic-gradient-8);
    }

    @media (--sm-n-below) {
      font-size: var(--font-size-fluid-3)
    }
  }
}

/* .fluid-headers {
  & h1 { font-size: var(--font-size-fluid-3) }
  & h2 { font-size: var(--font-size-fluid-2) }
  & h3 { font-size: var(--font-size-fluid-1) }
  & h4 { font-size: var(--font-size-fluid-00) }
} */

a { color: var(--brand) }

blockquote {
  border-color: var(--grape-5);
  font-family: var(--font-sans);
  background-color: var(--surface-2);
  display: inline-block;
  padding-block: var(--size-3);
  padding-inline: var(--size-4);
  max-inline-size: var(--size-content-2);
}

.open-colors {
  display: flex;
  align-items: center;
  gap: var(--size-2);

  & > h4 {
    flex: 2;
  }

  &.column-names {
    text-align: center;
    color: var(--text-2);

    & > .color-swatch {
      box-shadow: none;
    }
  }
}

.color-swatch {
  --size: var(--size-5);
  border-radius: var(--border-radius-round);
  box-shadow: var(--inner-shadow-0);
  inline-size: var(--size);
  block-size: var(--size);

  @nest .column-names > & {
    box-shadow: none;
  }

  @media (--md-n-below) {
    --size: var(--size-3);
  }
  @media (--xs-n-below) {
    --size: var(--size-2);
  }
}

.scroll-x-overflow {
  overflow-x: auto;
  max-inline-size: 100vw;
}

.contain-pre {
  display: grid;
  grid-template-columns: 1fr;
}

.size-chart {
  display: grid;
  grid-template-columns: 5ch 1fr;
  gap: 0 var(--size-3);
}

.font-sizes {
  display: grid;
  gap: var(--size-7);
}

.font-size-examples {
  inline-size: max-content;
  display: grid;
  gap: var(--size-2);
  grid-template-columns: max-content 1fr;
  align-items: center;
  justify-items: flex-start;
}

pre {min-width:0;max-inline-size:max-content;}
.fit-pre-to-viewport {
  max-inline-size: calc(100vw - var(--size-8))
}
.two-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: var(--size-content-2);
  gap: 0 var(--size-10);
  align-items: flex-start;
  justify-content: space-between;
}