<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <title>CSS "open-props" Project</title>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="deeppink" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="Canvas" media="(prefers-color-scheme: dark)">
    <meta name="description" content="Free CSS variables, like subatomic utilities, ready to tackle any design.">
    <meta name="color-scheme" content="dark light">
    <link rel="stylesheet" href="//unpkg.com/prism-themes@1.8.0/themes/prism-material-light.css" media="(prefers-color-scheme: light)">
    <link rel="stylesheet" href="//unpkg.com/prism-themes@1.8.0/themes/prism-nord.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/blah.css">
  </head>
  <body>
    <slot />
  </body>

</html>
