@import "../../../src/index.css";
@import "../../../src/extra/normalize.css";
@import "../../../src/props.gray-hsl.css";
@import "../../../src/props.masks.edges.css";
@import "../../../src/props.masks.corner-cuts.css";

@import "./syntax-highlight.css";

:root {
  --max-inline-body: calc(100vw - (var(--size-8) * 2));
  --brand-bg-gradient: linear-gradient(to bottom, var(--grape-3), var(--violet-3), var(--indigo-3), var(--cyan-3));

  @media (--md-n-below) {
    --max-inline-body: calc(100vw - (var(--size-3) * 2));
  }

  @nest [data-theme="light"] & {
    --brand-bg-gradient: linear-gradient(to bottom, var(--grape-6), var(--violet-6), var(--indigo-6), var(--cyan-6));
  }
}

body {
  padding-block-start: var(--size-fluid-2);
  overflow-x: hidden;
  display: grid;
  justify-items: flex-start;
  grid-template-columns:
    var(--size-8) 
    calc(100% - 2 * var(--size-8)) 
    var(--size-8) 
  ;

  & > * {
    grid-column: 2;
  }

  & > .place-full {
    width: 100%;
    grid-column: 1 / -1;
  }

  @media (--md-n-below) {
    grid-template-columns:
      var(--size-3) 
      calc(100% - 2 * var(--size-3))  
      var(--size-3) 
    ;
  }
}

:not(blockquote) > p {
  text-align: justify;
}

section {
  display: grid;
  gap: var(--size-fluid-4);
  justify-items: flex-start;
  padding-block: var(--size-fluid-6);
  
  &:not(:last-of-type) { border-block-end-width: var(--border-size-1) }
  &:nth-of-type(1n) { border-color: var(--orange-5) }
  &:nth-of-type(2n) { border-color: var(--red-5) }
  &:nth-of-type(3n) { border-color: var(--pink-5) }
  &:nth-of-type(4n) { border-color: var(--grape-5) }
  &:nth-of-type(5n) { border-color: var(--indigo-5) }
  &:nth-of-type(6n) { border-color: var(--blue-5) }
  &:nth-of-type(7n) { border-color: var(--green-5) }
  &:nth-of-type(8n) { border-color: var(--violet-5) }
  &:nth-of-type(9n) { border-color: var(--cyan-5) }
  &:nth-of-type(10n) { border-color: var(--teal-5) }
}

h1,h2,h3,h4,h5,h6 {
  /* todo: why isnt --firefoxONLY working here? */
  @supports not (-moz-appearance: none) {
    background: var(--brand-bg-gradient) fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

header {
  display: grid;
  gap: var(--size-2);
}

footer {
  padding-block: var(--size-12);
  display: grid;
  grid-template-columns: minmax(min(100%, var(--size-content-3)), 80%);
  gap: var(--size-8);
  justify-content: space-around;
  border-top-width: var(--border-size-1);
  border-color: var(--surface-3);
  background-color: var(--surface-2);

  & > a {
    justify-self: center;
  }

  & dl {
    display: flex;
    justify-content: space-around;
    gap: var(--size-fluid-6);

    @media (--md-n-below) {
      flex-direction: column;
      text-align: center;
    }

    & > div {
      display: grid;
      place-self: center;
      place-items: center;
      flex-basis: var(--size-content-1);
      gap: var(--size-2);
    }

    & dt {
      font-size: var(--font-size-0);
      text-transform: uppercase;
    }
  }
}

blockquote {
  --_accent-1: var(--lime-5);
  --_accent-2: var(--lime-4);
  --_bg: var(--surface-2);
  --_ink: var(--text-1);

  color: var(--_ink);
  border-color: var(--_accent-2);
  background-color: var(--_bg);
  justify-self: flex-start;

  &.icon-quote {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: var(--size-4);
    align-items: center;
    padding-inline-end: var(--size-6);

    & > svg {
      inline-size: var(--size-7);
      stroke: var(--_accent-2);
    }

    @nest [data-theme="light"] & {
      --_bg: white;
      --_ink: var(--lime-9);
    }

    &.indigo {
      --_accent-1: var(--indigo-5);
      --_accent-2: var(--indigo-4);
      
      @nest [data-theme="light"] & {
        --_bg: var(--indigo-0);
        --_ink: var(--indigo-9);
      }
    }

    &.jagged {
      -webkit-mask: var(--mask-edge-zig-zag-right);
    }
  }
}

pre[class*="language-"] {
  box-shadow: var(--shadow-4);
  inline-size: max-content;
  max-inline-size: var(--max-inline-body);
  justify-self: flex-start;

  @nest [data-theme="dark"] & {
    box-shadow: var(--shadow-3);
  }

  @nest details & {
    background-color: var(--surface-3);
    max-inline-size: calc(var(--max-inline-body) + (var(--size-3) * 2));
  }
}

#overvie {
  border-block-end: none;
}

.module-list {
  position: sticky;
  z-index: var(--layer-1);
  bottom: 0;
  overflow-x: auto;

  background-image: linear-gradient(to top, hsl(var(--gray-9-hsl) / 98%) 1ch, 75%, hsl(var(--gray-9-hsl) / 0%));
  margin-block-start: var(--size-8);
  padding-block: var(--size-5) var(--size-2);
  padding-inline: var(--size-2) var(--size-4);
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: var(--size-4);

  & a[href]:not(:hover,:focus-visible) {
    color: var(--text-1);
    text-decoration-color: var(--link);
  }

  & a.in-view {
    text-decoration: underline double;
    text-underline-offset: 4px;
  }

  @nest [data-theme="light"] & {
    padding-block-start: var(--size-3);
    background: var(--surface-1);
  }

  & > li {
    display: inline-flex;
  }
}

.just-for-gap {
  display: grid;
  gap: var(--size-4);
}

.just-for-sm-gap {
  display: grid;
  gap: var(--size-2);
}

.just-stretch {
  justify-self: stretch;
}

.scroll-x-overflow {
  overflow-x: auto;
  overscroll-behavior-inline: contain;

  max-inline-size: calc(var(--max-inline-body) + calc(var(--size-8) * 2));
  margin-inline: calc(var(--size-8) * -1);
  padding-inline: var(--size-8);
  padding-block-end: var(--size-3);

  @media (--md-n-below) {
    max-inline-size: calc(var(--max-inline-body) + calc(var(--size-3) * 2));
    margin-inline: calc(var(--size-3) * -1);
    padding-inline: var(--size-3);
    scroll-padding-inline: var(--size-3);
  }
}

@media (--md-n-below) {
  :root body pre {
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    border-radius: 0;

    max-inline-size: calc(var(--max-inline-body) + calc(var(--size-7) * 2));
    margin-inline: calc(var(--size-8) * -1);

    @media (--md-n-below) {
      max-inline-size: calc(var(--max-inline-body) + calc(var(--size-3) * 2));
      margin-inline: calc(var(--size-3) * -1);
    }
  }
}

.contain-pre {
  display: grid;
  justify-items: flex-start;
  grid-template-columns: 1fr;
  gap: var(--size-5);

  & > div {
    justify-self: flex-start;
  }
}

.var-examples {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-5);
  align-items: flex-start;
}

.block-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-basis: var(--size-content-2);
  gap: var(--size-5) var(--size-8);
  align-items: flex-start;

  & .block-wrap {
    row-gap: var(--size-1);
  }

  @media (--xl-n-above) {
    column-gap: var(--size-10);
  }
}

.easing-samples {
  flex-basis: var(--size-content-3);
}

#about {
  justify-content: center;

  & header {
    margin-block-end: var(--size-8);
  }

  & :is(header,p) {
    text-align: center;
    margin-inline: auto;
  }
}

.ease-demo {
  inline-size: min(var(--size-content-2), var(--max-inline-body));
  display: grid;
  grid-template-columns: 50%;
  grid-auto-flow: row;
  gap: var(--size-1);
  align-items: flex-start;
  text-align: center;
  align-self: stretch;
  padding-block: var(--size-2);

  &.paused > div {
    animation-play-state: paused;
  }

  & > div {
    font-weight: var(--font-weight-6);
    padding-inline: var(--size-4);
    padding-block: var(--size-1);
    color: var(--surface-1);
    background: var(--brand-bg-gradient) fixed;
    border-radius: var(--radius-round);
    position: relative;
    
    @media (--motionOK) {
      animation: ping-pong 2s ease infinite;
    }

    @nest [data-theme="light"] & {
      color: white;
    }
  }

  /* prevent transforms causing overflow-x */
  &:is(.squish, .elastic) {
    padding-inline-end: var(--size-6);
  }
}

@keyframes ping-pong {
  40%,50% { left: calc(min(var(--size-content-2),var(--max-inline-body)) / 2); }
  0%, 90% { left: 0; }
}

.font-family-grid {
  display: grid;
  gap: var(--size-2);
  justify-items: flex-start;

  & > div {
    display: grid;
    grid-template-columns: repeat(9, minmax(3rem, 1fr));
    place-items: center;
    font-size: var(--font-size-5);
    color: var(--text-1);

    @media (--md-n-below) {
      grid-template-columns: repeat(6, minmax(2rem, 1fr));
      font-size: var(--font-size-3);
    }
  }
}

#colors details h3 {
  margin-block-start: var(--size-6);
}

.border-demos {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-5);

  & > div {
    display: grid;
    place-content: center;
    inline-size: var(--size-fluid-6);
    aspect-ratio: var(--ratio-square);
    border-color: var(--indigo-5);
    border-width: var(--border-size-2);
    font-size: var(--font-size-4);

    @media (--sm-n-above) {
      inline-size: var(--size-12);
    }
  }

  &.blobbys > div {
    border: none;
    background: var(--brand-bg-gradient) fixed;
    color: var(--surface-1);
  }
}

.mask-demos {
  & > div {
    min-inline-size: var(--size-fluid-8);
    border-width: 0px;
    background: var(--brand-bg-gradient) fixed;
    text-shadow: 0 1px 0 #000a;
  }
}

.animation-control-header {
  display: flex;
  align-items: center;
  gap: var(--size-5);
}

.play-button {
  appearance: none;
  background: none;
  padding: 0;
  aspect-ratio: 1;
  border-radius: var(--radius-round);

  & > svg {
    pointer-events: none;
    fill: currentColor;
    color: var(--green-3);

    @nest [data-theme="light"] & {
      color: var(--green-6);        
    }
  }

  &:hover > svg {
    color: var(--green-4);

    @nest [data-theme="light"] & {
      color: var(--green-7);        
    }
  }

  &:active > svg {
    color: var(--green-5);

    @nest [data-theme="light"] & {
      color: var(--green-8);        
    }
  }
}

.animation-demo {
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-4);
  align-items: flex-start;

  &.of-pairs {
    gap: var(--size-8) var(--size-4);
  }

  & .language-css {
    margin-block: 0;
  }
}

.animation-demo-target {
  background-color: var(--surface-2);
  display: grid;
  place-items: center;
  padding-inline: var(--size-5);
  padding-block: var(--size-3);
  border-radius: var(--radius-2);
}

.animation-pair {
  display: grid;
  grid-template-columns: auto max-content;
  gap: var(--size-6) var(--size-3);
  align-items: flex-start;
  justify-items: flex-start;

  & .block-wrap {
    row-gap: var(--size-1);
  }

  @media (--md-n-below) {
    grid-template-columns: auto;
  }
}

.sizes-demo {
  display: flex;
  gap: var(--size-2);
  flex-flow: row wrap;

  & > * {
    flex-shrink: 0;
    background: var(--indigo-6);
    color: var(--indigo-0);
    block-size: var(--size-10);
    display: grid;
    place-content: center;
    font-size: var(--font-size-2);

    &::before {
      font-size: var(--font-size-4);
    }
  }
}

.content-demo {
  display: flex;
  gap: var(--size-2);
  flex-flow: row wrap;

  & > * {
    text-align: start;
  }
}

.header-demo {
  display: flex;
  gap: var(--size-2);
  flex-flow: row wrap;
}

.count-em {

  &::before {
  content: '';
  counter-reset: basic;
  position: absolute;
}

  & > *::before {
    counter-increment: basic;
    content: counter(basic);
  }
}

input[type="range"] {
  --track-height: .5ex;
  --track-fill: 0%;
  --thumb-size: 3ex;
  --thumb-offset: -1.25ex;
  --thumb-highlight-size: 0px;
  --thumb-highlight-color: hsl(0 0% 100% / 20%);

  display: block;
  inline-size: 100%;
  margin: 1ex 0;
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
  outline-offset: 5px;

  @media (hover: none) {
    & {
      --thumb-size: 30px;
      --thumb-offset: -14px;
    }
  }

  @nest [data-theme="light"] & {
    --thumb-highlight-color: hsl(0 0% 0% / 20%);
  }

  &::-webkit-slider-runnable-track {
    appearance: none;
    block-size: var(--track-height);
    border-radius: 5ex;
    background: 
      linear-gradient(
        to right, 
        transparent var(--track-fill), 
        var(--surface-3) 0%
      ),
      var(--brand-bg-gradient) fixed;
  }

  &::-moz-range-track {
    appearance: none;
    block-size: var(--track-height);
    border-radius: 5ex;
    background: 
      linear-gradient(
        to right, 
        transparent var(--track-fill), 
        var(--surface-3) 0%
      ),
      var(--brand-bg-gradient) fixed;
  }

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    cursor: ew-resize;
    border: 3px solid var(--surface-1);
    block-size: var(--thumb-size);
    inline-size: var(--thumb-size);
    margin-block-start: var(--thumb-offset);
    border-radius: 50%;
    background: var(--brand-bg-gradient) fixed;
    box-shadow: 0 0 0 var(--thumb-highlight-size) var(--thumb-highlight-color);
    
    @media (--motionOK) {
      & {
        transition: box-shadow .1s ease;
      }
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    cursor: ew-resize;
    border: 3px solid var(--surface3);
    block-size: var(--thumb-size);
    inline-size: var(--thumb-size);
    margin-block-start: var(--thumb-offset);
    border-radius: 50%;
    background: var(--brand-bg-gradient) fixed;
    box-shadow: 0 0 0 var(--thumb-highlight-size) var(--thumb-highlight-color);

    @media (--motionOK) {
      & {
        transition: box-shadow .1s ease;
      }
    }
  }

  &:is(:hover,:active) {
    --thumb-highlight-size: 10px;
  }
}

.media-query-chart {
  display: flex;
  gap: var(--size-2);
  flex-flow: row wrap;
  
  & > div {
    place-items: center;
    display: inline-flex;
    flex-flow: column nowrap;
    border: 1px solid var(--surface-2);
    padding: var(--size-3);
    gap: var(--size-1);
  }

  & svg {
    stroke: none;
    fill: var(--indigo-5);
  }
}

.hidden {
  display: none;
}

.slide-fade-combo {
  --animation-slide-down-fade-out: 
    var(--animation-fade-out) forwards,
    var(--animation-slide-out-down);
  /* important required because JS is writing props into inline styles */
  animation-timing-function: var(--ease-squish-3) !important;
  animation-duration: 1s !important;
}

.shake-fade-combo {
  --animation-slide-left-fade-in-shake-y: 
    var(--animation-shake-y),
    var(--animation-fade-in),
    var(--animation-slide-in-left);
}

.push-out-combo {
  --animation-push-out: 
    var(--animation-scale-down),
    var(--animation-fade-out)
  ;
  animation-timing-function: var(--ease-squish-4) !important;
}


/* no way out of this duplication afaik */
[data-theme="light"] {
  color-scheme: light;

  --brand: var(--pink-6);

  --link: var(--indigo-7);
  --link-visited: var(--grape-7);

  --text-1: var(--gray-9);
  --text-2: var(--gray-7);

  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  --nav-icon: var(--gray-7);
  --nav-icon-hover: var(--gray-9);

  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;

  @media (--HDcolor) {
    --link: color(display-p3 0 .5 1);
    --link-visited: color(display-p3 .6 .2 1);
  }
}

[data-theme="dark"] {
  color-scheme: dark;

  --brand: var(--pink-4);

  --link: var(--indigo-3);
  --link-visited: var(--grape-3);

  --text-1: var(--gray-1);
  --text-2: var(--gray-2);

  --surface-1: var(--gray-9);
  --surface-2: var(--gray-8);
  --surface-3: var(--gray-7);
  --surface-4: var(--gray-6);

  --nav-icon: var(--gray-5);
  --nav-icon-hover: var(--gray-2);

  --shadow-strength: 10%;
  --shadow-color: 220 40% 2%;
}

.md-hidden {
  @media (--md-n-below) {
    display: none;
  }
}

.started-details {
  border-radius: var(--radius-conditional-2);

  & h6:not(:first-child),
  & > div:not(:first-child) h6,
  & > pre:first-of-type {
    margin-top: var(--size-7);
  }
  & > ol {
    display: grid;
    padding-inline: 0;
    margin: var(--size-5);
    gap: var(--size-3);
  }

  &[open] {
    @media (--md-n-below) {
      margin-inline: calc(var(--size-3) * -1);
    }
  }
}

#npm > pre, #cli > pre {
  margin-block: 0;
}

.prevent-justify-item-wrap {
  white-space: nowrap;
}

#typography{
  width: 100%;

  & pre {
    position: relative;
  }
}
