---
import Prism from '../Utility/Prism.astro'
---
<style global>

  .easing-samples {
    flex-basis: var(--size-content-3);
  }

  .ease-demo {
    inline-size: min(var(--size-content-2), var(--max-inline-body));
    display: grid;
    grid-template-columns: 50%;
    grid-auto-flow: row;
    gap: var(--size-1);
    align-items: flex-start;
    text-align: center;
    align-self: stretch;
    padding-block: var(--size-2);

    &.paused > div {
      animation-play-state: paused;
    }

    & > div {
      font-weight: var(--font-weight-6);
      padding-inline: var(--size-4);
      padding-block: var(--size-1);
      color: var(--surface-1);
      background: var(--brand-bg-gradient) fixed;
      border-radius: var(--radius-round);
      position: relative;
      
      @media (--motionOK) {
        animation: ping-pong 2s ease infinite;
      }

      @nest [data-theme="light"] & {
        color: white;
      }
    }

    /* prevent transforms causing overflow-x */
    &:is(.squish, .elastic) {
      padding-inline-end: var(--size-6);
    }
  }

</style>
<section id="easing">
  <header>
  <h2>Easing</h2>
  <p>Five strengths for the classic <code class="language-css">ease</code>, <code class="language-css">ease-out</code>, <code class="language-css">ease-in</code>, and <code class="language-css">ease-in-out</code> timing functions. Plus some extra easings for mock elasticity and physics!</p>
  </header>
  <div class="block-wrap">
  <div>
    <h5>The Props</h5>
    <div class="var-examples">
    <Prism lang='css' code={`
      --ease-{1-5}
      --ease-in-{1-5}
      --ease-out-{1-5}
      --ease-in-out-{1-5}
      --ease-elastic-{1-5}
      --ease-squish-{1-5}
      --ease-step-{1-5}
    `} />
    </div>
  </div>
  <div>
    <h5>Usage Sample</h5>
    <Prism lang='css' code={`
    .slight-ease {
      animation: fade-in 300ms var(--ease-1);
    }

    .dramatic-ease {
      animation: fade-in 1s var(--ease-5);
    }
    `} />
  </div>
  </div>

  <div class="easing-samples block-wrap">
  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-1)">ease-1</div>
    <div style="animation-timing-function: var(--ease-2)">ease-2</div>
    <div style="animation-timing-function: var(--ease-3)">ease-3</div>
    <div style="animation-timing-function: var(--ease-4)">ease-4</div>
    <div style="animation-timing-function: var(--ease-5)">ease-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease In</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-in-1)">ease-in-1</div>
    <div style="animation-timing-function: var(--ease-in-2)">ease-in-2</div>
    <div style="animation-timing-function: var(--ease-in-3)">ease-in-3</div>
    <div style="animation-timing-function: var(--ease-in-4)">ease-in-4</div>
    <div style="animation-timing-function: var(--ease-in-5)">ease-in-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease Out</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-out-1)">ease-out-1</div>
    <div style="animation-timing-function: var(--ease-out-2)">ease-out-2</div>
    <div style="animation-timing-function: var(--ease-out-3)">ease-out-3</div>
    <div style="animation-timing-function: var(--ease-out-4)">ease-out-4</div>
    <div style="animation-timing-function: var(--ease-out-5)">ease-out-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease In Out</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-in-out-1)">ease-in-out-1</div>
    <div style="animation-timing-function: var(--ease-in-out-2)">ease-in-out-2</div>
    <div style="animation-timing-function: var(--ease-in-out-3)">ease-in-out-3</div>
    <div style="animation-timing-function: var(--ease-in-out-4)">ease-in-out-4</div>
    <div style="animation-timing-function: var(--ease-in-out-5)">ease-in-out-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease Elastic</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-elastic-1)">ease-elastic-1</div>
    <div style="animation-timing-function: var(--ease-elastic-2)">ease-elastic-2</div>
    <div style="animation-timing-function: var(--ease-elastic-3)">ease-elastic-3</div>
    <div style="animation-timing-function: var(--ease-elastic-4)">ease-elastic-4</div>
    <div style="animation-timing-function: var(--ease-elastic-5)">ease-elastic-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease Squish</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-squish-1)">ease-squish-1</div>
    <div style="animation-timing-function: var(--ease-squish-2)">ease-squish-2</div>
    <div style="animation-timing-function: var(--ease-squish-3)">ease-squish-3</div>
    <div style="animation-timing-function: var(--ease-squish-4)">ease-squish-4</div>
    <div style="animation-timing-function: var(--ease-squish-5)">ease-squish-5</div>
    </div>
  </div>

  <div class="block-wrap">
    <header class="animation-control-header">
    <h5>Ease Steps</h5>
    <button class="play-button">
      <svg viewBox="0 0 20 20">
      <use href="#play-icon"/>
      <use href="#pause-icon" class="hidden"/>
      </svg>
    </button>
    </header>
    <div class="ease-demo paused">
    <div style="animation-timing-function: var(--ease-step-1)">ease-step-1</div>
    <div style="animation-timing-function: var(--ease-step-2)">ease-step-2</div>
    <div style="animation-timing-function: var(--ease-step-3)">ease-step-3</div>
    <div style="animation-timing-function: var(--ease-step-4)">ease-step-4</div>
    <div style="animation-timing-function: var(--ease-step-5)">ease-step-5</div>
    </div>
  </div>
  </div>

</section>
