<section id="about" class="just-stretch">
  <header class="just-stretch">
    <h2>Why Use Open Props?</h2>
    <p>It's <b>non-prescriptive</b>.</p>
  </header>
  <dl class="marketing-features responsive-dl">
    <div>
      <dt>
        <svg viewBox="0 0 24 24">
          <path d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
          <path d="M9.879 16.121A3 3 0 1012.015 11L11 14H9c0 .768.293 1.536.879 2.121z" />
        </svg>
        Design Consistently
      </dt>
      <dd>Incidentally harmonious.</dd>
    </div>
    <div>
      <dt>
        <svg viewBox="0 0 24 24">
          <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
        </svg>
        Predictable
      </dt>
      <dd>Thanks to consistent naming conventions.</dd>
    </div>
    <div>
      <dt>
        <svg  viewBox="0 0 24 24" >
          <path d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z" />
          <path d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z" />
        </svg>
        Incrementally Adoptable
      </dt>
      <dd>Grab all the props, props as JS, or only what you need.</dd>
    </div>
    <div>
      <dt>
        <svg viewBox="0 0 24 24">
          <path d="M14 10l-2 1m0 0l-2-1m2 1v2.5M20 7l-2 1m2-1l-2-1m2 1v2.5M14 4l-2-1-2 1M4 7l2-1M4 7l2 1M4 7v2.5M12 21l-2-1m2 1l2-1m-2 1v-2.5M6 18l-2-1v-2.5M18 18l2-1v-2.5" />
        </svg>
        Customizable
      </dt>
      <dd>Map the props from JS or customize builds from the command line.</dd>
    </div>
  </dl>
</section>
