<section id="gallery">
  <header>
    <h2>Built with Open Props</h2>
  </header>
  <div class="demo-gallery block-wrap">
    <a href="https://codepen.io/argyleink/pen/porzeyz">
      <figure>
        <picture>
          <img width="1125" height="586" src="/hero-layout.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/hero-layout.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Hero Layout</h3>
            <p><b>18 props</b> + <b>normalize.css</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/powMQgx">
      <figure>
        <picture>
          <img width="1446" height="658" src="/adaptive-buttons.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/adaptive-buttons.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Adaptive Buttons</h3>
            <p><b>10 props</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/jOLaBgG">
      <figure>
        <picture>
          <img width="1600" height="960" src="/cards.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/cards.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Adaptive Cards</h3>
            <p><b>8 props</b> + <b>normalize.css</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/QWMreXR">
      <figure>
        <picture>
          <img width="760" height="372" src="/pagination.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/pagination.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Pagination Example</h3>
            <p>10 props</p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/XWaYyWe">
      <figure>
        <picture>
          <img width="1096" height="639" src="/color-schemes.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/color-schemes.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>4 Color Schemes</h3>
            <p><b>16 props</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/ZEXQovz">
      <figure>
        <picture>
          <img width="672" height="448" src="/pop-animation.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/pop-animation.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Make it pop</h3>
            <p><b>Example loads only the animations and easings for a springy scale-in animation</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
    <a href="https://codepen.io/argyleink/pen/KKvRORE">
      <figure>
        <picture>
          <img width="967" height="585" src="/normalize-codepen.png" alt="" loading="lazy">
        </picture>
        <figcaption>
          <img src="/normalize-codepen.png" aria-hidden="true" loading="lazy">
          <div class="adaptive-glass">
            <h3>Normalize Preview</h3>
            <p><b>Light + dark HTML5 minimal styles</b></p>
          </div>
        </figcaption>
      </figure>
    </a>
  </div>
</section>
