<style global>

  .bundle-sizes {
    gap: var(--size-8);

    @media (--lg-n-above) {
      column-gap: var(--size-12);
    }

    & .child-ref {
      display: flex;
      gap: var(--size-1);
      align-items: center;

      & > svg {
        margin-block-start: -.25em;
        inline-size: 2ch;
        stroke-width: 2px;
      }
    }
  }

  .size-chart {
    display: grid;
    grid-template-columns: 5ch 1fr;
    gap: 0 var(--size-3);

    & .size {
      color: var(--text-2);
      font-size: var(--font-size-0);

      & > strong {
        color: var(--text-1);
        font-size: var(--font-size-1);
      }
    }
  }

</style>
<section id="overview">
  <header>
    <h2>Overview</h2>
    <p>File sizes and links to source:</p>
  </header>

  <div class="just-for-gap">
    <header>
      <h4>File Sizes</h4>
      <blockquote>
        <p>The following sizes are for the minified files and after <a href="https://github.com/google/brotli">Brotli</a> compression.</p>
      </blockquote>
    </header>
    <dl class="block-wrap bundle-sizes">
      <div>
        <dt>Library bundles</dt>
        <dd class="size-chart" style="row-gap: var(--size-3)">
          <div class="size"><strong>3.4</strong>kB</div>
          <div class="file">
            <a href="https://unpkg.com/open-props">open-props.min.css</a>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              351 props
            </div>
          </div>

          <div class="size"><strong>1.3</strong>kB</div>
          <div class="file">
            <a href="https://unpkg.com/open-props/normalize.min.css">normalize.min.css</a> <a href="https://codepen.io/argyleink/pen/KKvRORE"><small class="green-badge">demo</small></a>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/extra/brand.css">brand.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/extra/theme.css">theme.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/extra/theme.light.css">theme.light.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/extra/theme.dark.css">theme.dark.css</a>  
            </div>
          </div>
        </dd>
        <dt>Extras</dt>
        <dd class="size-chart" style="row-gap: var(--size-3)">
          <div class="size"><strong>0.81</strong>kB</div>
          <div class="file">
            <a href="https://unpkg.com/open-props/buttons.min.css">buttons.min.css</a> <a href="https://codepen.io/argyleink/pen/gOXbvjj"><small class="green-badge">demo</small></a>
          </div>
        </dd>
      </div>

      <div>
        <dt>Individual PropPacks ™</dt>
        <dd class="size-chart">
          <div class="size"><strong>0.49</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.animations.css">animations.css</a> <a href="https://codepen.io/argyleink/pen/ZEXQovz"><small class="green-badge">demo</small></a>
          </div>

          <div class="size"><strong>0.1</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.aspects.css">aspects.css</a>
          </div>

          <div class="size"><strong>0.25</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.borders.css">borders.css</a>
          </div>

          <div class="size"><strong>0.7</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.colors.css">colors.css</a>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/props.pink.css">pink.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/props.indigo.css">indigo.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <span>etc...</span>
            </div>
          </div>

          <div class="size"><strong>0.7</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.colors-hsl.css">colors-hsl.css</a>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/props.pink-hsl.css">pink-hsl.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <a href="https://github.com/argyleink/open-props/blob/main/src/props.indigo-hsl.css">indigo-hsl.css</a>
            </div>
            <div class="child-ref">
              <svg viewBox="0 0 24 24">
                <use href="#bent-arrow"/>
              </svg>
              <span>etc...</span>
            </div>
          </div>

          <div class="size"><strong>0.2</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.easing.css">easings.css</a>
          </div>

          <div class="size"><strong>0.4</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.fonts.css">fonts.css</a>
          </div>

          <div class="size"><strong>1.0</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.gradients.css">gradients.css</a>
          </div>

          <div class="size"><strong>0.38</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.media.css">media.css</a>
          </div>

          <div class="size"><strong>0.26</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.shadows.css">shadows.css</a>
          </div>

          <div class="size"><strong>0.2</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.sizes.css">sizes.css</a>
          </div>

          <div class="size"><strong>0.1</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.supports.css">supports.css</a>
          </div>

          <div class="size"><strong>0.05</strong>kB</div>
          <div class="file">
            <a href="https://github.com/argyleink/open-props/blob/main/src/props.zindex.css">zindex.css</a>
          </div>
        </dd>
      </div>

      <div>
        <dt>Coming Soon?!</dt>

        <dd class="size-chart">
          <div class="size"><strong>??</strong></div>
          <div class="file">icons.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">svg.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">patterns.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">at-property.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">shapes.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">layouts.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">clips.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">masks.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">variable-fonts.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">lists.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">counters.css <small class="yellow-badge">WIP</small></div>
          <div class="size"><strong>??</strong></div>
          <div class="file">utilities.css <small class="yellow-badge">WIP</small></div>
        </dd>
      </div>
    </dl>
  </div>
</section>
