.dogfood {
  composes: place-full block-wrap from global;
  position: relative;
  border-block-end: none;
  background-image: var(--gradient-30);

  @media (--lg-n-above) {
    background-image: none;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      inset-block: 1%;
      inset-inline: -15% 0;
      border-radius: var(--radius-blob-1);
      background-image: var(--gradient-30);
    }
  }

  @nest [data-theme="light"] & {
    background-image: var(--gradient-18);    
  }

  @media (--md-n-above) {
    padding-inline: var(--size-fluid-4);
  }

  @media (--md-n-below) {
    & pre {
      margin-inline: 0 !important;
    }
    & header {
      padding-inline: var(--size-fluid-3);
    }
  }

  & h2 {
    -webkit-text-fill-color: initial;
  }
}
