---
import { Prism } from '@astrojs/prism';
import styles from './Dogfood.module.css';
---

<section class={styles.dogfood}>
  <header>
    <h2>
      This site 
      <br>is built 
      <br>with Open Props.
    </h2>
  </header>
  <div>
    <Prism lang="css" code={`@import "https://unpkg.com/open-props";`} />
  </div>
  <div>
    <Prism lang="css" code={`.just-for-gap {
display: grid;
gap: var(--size-4);
}`} />
  </div>
  <div>
    <Prism lang="css" code={`blockquote {
--_accent-1: var(--lime-5);
--_accent-2: var(--lime-4);
--_bg: var(--surface-2);
--_ink: var(--text-1);

color: var(--_ink);
border-color: var(--_accent-2);
background-color: var(--_bg);
justify-self: flex-start;
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.gradient-swatch {
border-radius: var(--radius-2);
aspect-ratio: var(--ratio-landscape);
}`} />
  </div>
  <div>
    <Prism lang="css" code={`pre > code {
box-shadow: var(--shadow-6);
font-family: var(--font-mono);
font-size: var(--font-size-2);
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.yellow-badge {
padding-inline: var(--size-1);
border-width: var(--border-size-1);
border-color: var(--yellow-6);
color: var(--yellow-2);
border-radius: var(--radius-round);

@nest [data-theme="light"] & {
border-color: var(--orange-2);
color: var(--orange-6);
}
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.block-wrap {
display: flex;
flex-wrap: wrap;
flex-basis: var(--size-content-2);
gap: var(--size-5) var(--size-8);
align-items: flex-start;
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.demo-gallery figure {
border-radius: var(--radius-3);
box-shadow: var(--shadow-4);
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.op-icon-p {
stroke: var(--indigo-2);
@nest a:hover & { stroke: var(--indigo-1); }

@nest [data-theme="light"] & {
stroke: var(--indigo-9);
@nest a:hover & { stroke: var(--indigo-8); }
}
}`} />
  </div>
  <div>
    <Prism lang="css" code={`.checkmark-list {
align-self: flex-start;
display: grid;
gap: var(--size-2);
font-size: var(--font-size-fluid-1);
font-weight: var(--font-weight-2);
padding-inline-start: 0;
}`} />
  </div>
</section>
