.colorSwatch {
  --size: var(--size-5);
  border-radius: var(--radius-round);
  box-shadow: var(--inner-shadow-0);
  inline-size: 7%;
  block-size: var(--size);
  display: grid;
  place-content: center;
  color: black;
  text-shadow: 0 0 1px hsl(0 0% 0% / 40%);

  &::before {
    opacity: 0;
    transition: opacity .4s var(--ease-out-3);
  }

  &:nth-child(n+8)::before {
    color: white;
  }

  &:is(:hover,:focus) {
    transform: scale(1.5);
    transition-delay: 0s;
    transition-timing-function: var(--ease-elastic-3);

    &::before {
      opacity: 1;
    }
  }

  @media (--motionOK) {
    transition: transform 2s var(--ease-squish-5) 3s;

    &:is(:hover,:focus) {
      transition-duration: .1s;
    }
  }

  @media (--md-n-below) {
    --size: var(--size-3);
  }
  @media (--xs-n-below) {
    --size: var(--size-2);
  }
}
