@import "theme.css";

:where(html) {
  --scrollbar-color: var(--gray-7);

  scrollbar-color: var(--scrollbar-color) transparent;
  accent-color: var(--link);
  caret-color: var(--link);

  @media (--OSlight) {
    --scrollbar-color: var(--gray-4);
  }
}
