:where(html) {
  /* --brand: your-brand-color-here; */
  
  scrollbar-color: var(--scrollthumb-color) transparent;
  accent-color: var(--brand, var(--link));
  caret-color: var(--brand, var(--link));
  color: var(--text-1);
  background-color: var(--surface-1);
}

:where(a[href]) {
  color: var(--brand, var(--link));
  
  &:where(:visited) {
    color: var(--link-visited);
  }
}

:focus-visible { 
  outline-color: var(--brand, var(--link)); 
}
