@import "../props.media.css";

:where(button,button[type],input[type="button"],input[type="submit"],input[type="reset"]) {
  --_accent:/* your color */;
  --_text:/* your text color */;
  
  --_bg-light: white;
  --_bg-dark: var(--surface-3);
  --_bg: var(--_bg-light);
  
  --_border: var(--surface-3);
  
  --_highlight-size: 0;
  --_highlight-light: hsl(210 10% 71% / 25%);
  --_highlight-dark: hsl(210 10% 5% / 25%);
  --_highlight: var(--_highlight-light);
  
  --_ink-shadow-light: 0 1px 0 var(--gray-3);
  --_ink-shadow-dark: 0 1px 0 var(--surface-1);
  --_ink-shadow: var(--_ink-shadow-light);
  
  --_icon-size: 2ch;
  --_icon-color: var(--_accent, var(--link));
  
  background: var(--_bg);
  color: var(--_text);
  border: var(--border-size-2) solid var(--_border);
  box-shadow: 
    var(--shadow-2),
    0 1px var(--surface-3),
    0 0 0 var(--_highlight-size) var(--_highlight)
  ;
  text-shadow: var(--_ink-shadow);
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  place-self: start;
  gap: var(--size-2);
  
  font-weight: var(--font-weight-7);
  border-radius: var(--radius-2);
  padding-block: .75ch;
  padding-inline: 1.75ch;
  
  transition: border-color .5s var(--ease-3) 3s;

  /* disabled */
  &[disabled] {
    --_bg: none;
    --_text: var(--gray-6);
    cursor: not-allowed;
    box-shadow: var(--shadow-1);

    @media (--OSdark) {
      --_text: var(--gray-5);
    }
  }

  /* pressing */
  &:where(:not(:active):hover) {
    --_highlight-size: var(--size-2);
    transition-delay: 0s;
    transition-duration: .25s;
  }

  /* icons */
  & > :where(svg) {
    flex-shrink: 0;
    filter: drop-shadow(var(--_ink-shadow));
    block-size: var(--_icon-size);
    inline-size: var(--_icon-size);
    stroke: var(--_icon-color);
    stroke-width: var(--border-size-2);
  }

  @media (--OSdark) {
    --_highlight: var(--_highlight-dark);
    --_bg: var(--_bg-dark);
    --_ink-shadow: var(--_ink-shadow-dark);
  }

  @media (--motionOK) {
    transition: 
      border-color .5s var(--ease-3) 3s,
      box-shadow 145ms var(--ease-4);
  }
}

/* adaptive indigo text */
:where([type="submit"], form button:not([type],[disabled])) {
  --_text: var(--_accent, var(--link));
} 

/* red reset */
:where([type="reset"]) {
  --_text: var(--red-6);
  --_border: var(--red-3);

  &:focus-visible {
    outline-color: var(--red-6);
  }

  @media (--OSdark) {
    --_text: var(--red-2);
    --_border: var(--surface-2);
  }
}

/* submit, form > button, reset matching hover border color */
:where([type="submit"], [type="reset"], form button:not([type])):is(:hover, :focus-visible):not([disabled]) {
  --_border: currentColor;
}

/* @media (hover: none) {
  :where([type="submit"], [type="reset"], form button:not([type])):active:not([disabled]) {
    --_border: currentColor;
    transition-delay: 0s;
    transition-duration: .1s;
  }
} */

@media (--OSdark) {
  :where([type="submit"]),
  :where(form button:not([type="button"])),
  :where([type="reset"]), 
  :where([disabled]) {
    --_bg: var(--surface-1);
  }
}