@import "theme.dark.css";
@import "brand.css";
@import "normalize.src.css";

:where(textarea, select, input:not([type="button"],[type="submit"],[type="reset"])) {
  background-color: var(--gray-10);
}

:where(dialog) {
  background-color: var(--surface-2);
}

:where(html) {
  --shadow-strength: 10%;
  --shadow-color: 220 40% 2%;
  --inner-shadow-highlight: inset 0 -.5px 0 0 #fff1, inset 0 .5px 0 0 #0007;
}

::placeholder {
  color: var(--gray-6);
  opacity: .75;
}