/* todo: add :where() all over? */
@import "brand.css";

*, ::before, ::after { box-sizing: border-box; }

* {
  background-origin: border-box;
  background-repeat: no-repeat;
  margin: 0;

  &:not(fieldset) {
    border-width: 0;
    border-style: solid;
  }
}

html {
  block-size: 100%;
  font-family: var(--font-sans);
  line-height: var(--font-leading-3);

  &:focus-within {
    @media (--motionOK) {
      scroll-behavior: smooth;
    }
  }
}

body { min-block-size: 100% }

h1, h2, h3, h4, h5, h6 {
  line-height: var(--font-relative-leading-2);
  font-weight: var(--font-black);
}

h1 { 
  font-size: var(--font-size-8); 
  max-inline-size: var(--size-header-1); 
}

h2 { 
  font-size: var(--font-size-6); 
  max-inline-size: var(--size-header-2);
}

h3 { font-size: var(--font-size-5) }
h4 { font-size: var(--font-size-4) }
h5 { font-size: var(--font-size-3) }

h3, h4, h5, h6, dt {
  max-inline-size: var(--size-header-3);
}

p, ul, ol, dl, h6 {
  font-size: var(--font-size-2);
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  cursor: pointer;
  touch-action: manipulation;
}

a {
  text-decoration-color: var(--text-1);

  &:not(:hover) {
    text-decoration: inherit;
  }
}

button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

img, svg, video {
  max-inline-size: 100%;
  block-size: auto;
}

input, button, textarea, select {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

textarea { resize: block }

svg {
  stroke: none;
  fill: currentColor;

  &:not([fill]) {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:not([width]) {
    max-inline-size: 5ch;
  }
}

code, kbd, samp, pre {
  font-family: var(--font-mono);
}

pre { white-space: pre-wrap }
ol,ul { padding-inline-start: var(--size-8) }
li,dd,p,figcaption { max-inline-size: var(--size-content-2) }

dt { 
  font-weight: var(--font-bold); 

  &:not(:first-of-type) {
    margin-block-start: var(--size-5);
  }
}

small { 
  font-size: max(.5em, var(--font-size-00)); 
  max-inline-size: var(--size-content-1);
}

hr {
  margin-block: var(--size-fluid-5);
  height: var(--border-size-2);
  background-color: var(--surface-3);
}

figure {
  display: grid;
  gap: var(--size-2);
  place-items: center;

  & > figcaption {
    font-size: var(--font-size-1);
  }
}

blockquote {
  font-family: var(--font-serif);
  border-inline-start-width: var(--border-size-2);
  padding-inline-start: var(--size-3);

  & > footer {
    font-family: var(--font-sans);
  }
}