@media (--OSdark) {
  :where(html) {
    color-scheme: dark;

    --brand: var(--pink-4);
    --text-1: var(--cool-gray-1);
    --text-2: var(--cool-gray-2);
    --surface-1: var(--cool-gray-9);
    --surface-2: var(--cool-gray-8);
    --surface-3: var(--cool-gray-7);
    --surface-4: var(--cool-gray-6);
  }
}