@import "../props.media.css";
@import "theme.light.css";
@import "theme.dark.css";

html { 
  color: var(--text-2);
  background-color: var(--surface-1);
}

h1, h2, h3, h4, h5, h6, dt { 
  color: var(--text-1);
}

a[href] {
  color: var(--brand);
}