html {
  color-scheme: light;

  --brand: var(--pink-6);
  --text-1: var(--gray-9);
  --text-2: var(--gray-8);
  --surface-1: var(--gray-0);
  --surface-2: var(--gray-2);
  --surface-3: var(--gray-3);
  --surface-4: var(--gray-4);

  @media (--HDcolor) {
    --brand: color(display-p3 1 0 1);
  }
}