/* todo: enumerate imports here for bundling */

.border-between-inline > * + * {
  border-inline-start-width: var(--border);
}

.border-between-block > * + * {
  border-block-start-width: var(--border);
}

.gradient-border {
  border-width: var(--size-3);
  border-image-slice: 1;
  border-image-source: var(--conic-gradient-3);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}