:where(html) {
  --blue-0-hsl: 205 100% 95%;
  --blue-1-hsl: 206 100% 91%;
  --blue-2-hsl: 206 100% 82%;
  --blue-3-hsl: 206 96% 72%;
  --blue-4-hsl: 207 91% 64%;
  --blue-5-hsl: 207 86% 57%;
  --blue-6-hsl: 208 80% 52%;
  --blue-7-hsl: 208 77% 47%;
  --blue-8-hsl: 209 77% 43%;
  --blue-9-hsl: 209 75% 38%;
  --blue-10-hsl: 209 76% 32%;
  --blue-11-hsl: 209 75% 27%;
  --blue-12-hsl: 209 76% 21%;
}
