nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--size-4);
  justify-self: stretch;

  & > a[href]:not(:hover,:focus-visible) {
    color: var(--text-1);
    text-decoration-color: var(--link);
  }

  & > a[href="/"] {
    margin-inline-end: auto;
    display: inline-flex;
    align-items: center;
    gap: var(--size-2);

    &:hover {
      text-decoration: none;
    }

    & > svg {
      inline-size: var(--size-9);
    }
  }

  & > a[href="#getting-started"] {
    @media (--sm-n-below) {
      display: none;
    }
  }
}

.op-icon-p {
  stroke: var(--indigo-2);
  @nest a:hover & { stroke: var(--indigo-1); }

  @nest [data-theme="light"] & {
    stroke: var(--indigo-7);
  }

  @nest [data-theme="light"] a:hover & {
    stroke: var(--indigo-8);
  }
}

.op-icon-o {
  stroke: var(--indigo-4);
  @nest a:hover & { stroke: var(--indigo-3); }
  
  @nest [data-theme="light"] & {
    stroke: var(--indigo-5);
  }
  @nest [data-theme="light"] a:hover & {
    stroke: var(--indigo-6);
  }
}

.op-logo {
  display: grid;
  font-weight: var(--font-weight-3);
  font-size: var(--font-size-2);
  color: var(--indigo-3);
  letter-spacing: var(--font-letterspacing-4);

  @media (--xs-n-below) {
    display: none
  }

  @nest [data-theme="light"] & {
    color: var(--indigo-7);
  }
  
  & > span {
    line-height: .9;
    text-transform: uppercase;

    &::first-letter {
      font-weight: var(--font-weight-9);
    }
  }
}

.theme-toggle {
  background: none;
}

#moon, #sun, .moon, .sun {
  fill: var(--nav-icon);
  stroke: none;

  @nest :hover > svg > & {
    fill: var(--nav-icon-hover);
  }
}

.sun {
  transition: transform .5s var(--ease-4);
  transform-origin: center center;
}

.sun-beams {
  --_opacity-dur: .15s;
  stroke: var(--nav-icon);
  stroke-width: 2px;
  transform-origin: center center;
  transition: 
    transform .5s var(--ease-elastic-4),
    opacity var(--_opacity-dur) var(--ease-3);

  @nest :hover > svg > & {
    stroke: var(--nav-icon-hover);
  }
}

.moon > circle {
  transition: transform .5s var(--ease-out-3);
}

[data-theme="light"] {
  & .sun {
    transform: scale(.5);
  }

  & .sun-beams {
    transform: rotateZ(.25turn);
    --_opacity-dur: .5s;
  }
}

[data-theme="dark"] {
  & .moon > circle {
    transform: translateX(-20px);
  }

  & .sun-beams {
    opacity: 0;
  }
}

.github-icon {
  fill: var(--nav-icon);
  stroke: none;

  @nest :hover > & {
    fill: var(--nav-icon-hover);
  }
}
