---
import { Code } from 'astro/components';
---
<section class="block-wrap">
  <header class="hero">
    <p><code class="language-bash">npm i open-props</code></p>
    <h1>
      <div>Grab n' go</div>
      <div>CSS custom props.</div>
    </h1>
    <!-- <h1>
      <div>The back, of the</div>
      <div>front of the front.</div>
    </h1> -->
    <p>Easy to remember, <b>free CSS variables</b>.</p>
    <ul class="checkmark-list">
      <li>Subatomic utilities</li>
      <li>Tackles any design</li>
      <li>Useful in CSS and JS</li>
    </ul>
   <!-- <blockquote class="icon-quote">
    <svg viewBox="0 0 24 24">
      <path d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5" />
    </svg>
      <span><a href="#">postcss-jit-props</a> ready</span>
  </blockquote> -->
    <blockquote class="icon-quote">
    <svg viewBox="0 0 24 24">
      <path d="M12 8v13m0-13V6a2 2 0 112 2h-2zm0 0V5.5A2.5 2.5 0 109.5 8H12zm-7 4h14M5 12a2 2 0 110-4h14a2 2 0 110 4M5 12v7a2 2 0 002 2h10a2 2 0 002-2v-7" />
    </svg>
      <span>optional props packed <a href="#">reset.css</a></span>
    </blockquote>
    <small>
      v0.0.22<br>
      Apache License
    </small>
  </header>
  <div>
    <Code lang="css" code={`
@import "open-props";     /* All props from NPM */
@import "open-props/media.css";  /* Named media queries */

.button {
  font-size: var(--font-size-fluid-1);
  padding-inline: var(--size-5);
  padding-block: var(--size-3);

  color: var(--blue-0);
  background-color: var(--blue-7);
  border: none;
  border-radius: var(--radii-round);
  box-shadow: var(--shadow-2);

  &:hover {
    transform: scale(1.1);
  }

  @media (--motionOK) {
    transition: transform 0.5s var(--ease-squish-3);
  }
}`} />
  </div>
</section>
