---
import '../styles/global.css'
---

<html lang="en" dir="ltr">
	<head>
    <meta charset="utf-8">

    <title>Open Props: sub-atomic styles</title>
    <meta name="og:title" content="Open Props: sub-atomic styles">
    <meta name="twitter:title" content="Open Props: sub-atomic styles">

    <meta name="description" content="Open source CSS custom properties to help accelerate adaptive and consistent design. Available from a CDN or NPM, as CSS or Javascript.">
    <meta name="og:description" content="Open source CSS custom properties to help accelerate adaptive and consistent design. Available from a CDN or NPM, as CSS or Javascript.">
    <meta name="twitter:description" content="Open source CSS custom properties to help accelerate adaptive and consistent design. Available from a CDN or NPM, as CSS or Javascript.">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="Canvas">
    <meta name="color-scheme" content="dark light">

    <link rel="manifest" href="manifest.json">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="icon" href="/favicon.ico" sizes="any">

    <meta name="twitter:image:src" content="https://open-props.style/open-props-social.jpg">
    <meta name="twitter:image:alt" content="@argyleink/open-props: CSS custom properties to help accelerate adaptive and consistent design.">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="https://open-props.style/open-props-social.jpg">
    <meta property="og:image:alt" content="argyleink/open-props: CSS custom properties to help accelerate adaptive and consistent design. Available from a CDN or NPM, as CSS or Javascript.">

    <!-- <link rel="stylesheet" href="/index.css"> -->
    <script is:inline src="/theme-toggle.js"></script>

		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<slot />
	</body>
</html>
