:where(html) {
  --highlight-size: 10px;
  --highlight-color: hsl(0 0% 0% / 20%);

  --highlight: 
    0 0 0 
    var(--highlight-size) 
    var(--highlight-color)
  ;

  @media (--OSdark) {
    --highlight-color: hsl(0 0% 100% / 20%);
  }
}