:root {
  --font-sans: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif;
  --font-serif: serif;
  --font-mono: Dank Mono,Operator Mono,Inconsolata,Fira Mono,ui-monospace,SF Mono,Monaco,Droid Sans Mono,Source Code Pro,monospace;

  --font-light: 100;
  --font-semilight: 200;
  --font-book: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-semibold: 800;
  --font-black: 900;

  --font-leading-none: 1.1;
  --font-leading-xs: 1.15;
  --font-leading-sm: 1.25;
  --font-leading-normal: 1.5;
  --font-leading-lg: 1.75;
  --font-leading-xl: 2;

  --font-kerning-00: -.05em;
  --font-kerning-xs: .025em;
  --font-kerning-sm: .05em;
  --font-kerning-lg: .1em;
  --font-kerning-xl: .25em;
}