:where(html) {
  --gray-0: #f8fafb;
  --gray-1: #f2f4f6;
  --gray-2: #ebedef;
  --gray-3: #e0e4e5;
  --gray-4: #d1d6d8;
  --gray-5: #b1b6b9;
  --gray-6: #979b9d;
  --gray-7: #7e8282;
  --gray-8: #666968;
  --gray-9: #50514f;
  --gray-10: #3a3a37;
  --gray-11: #252521;
  --gray-12: #121210;
}
