:where(html) {
  --teal-0-hsl: 161 79% 95%;
  --teal-1-hsl: 160 85% 87%;
  --teal-2-hsl: 162 78% 77%;
  --teal-3-hsl: 162 72% 65%;
  --teal-4-hsl: 162 68% 54%;
  --teal-5-hsl: 162 73% 46%;
  --teal-6-hsl: 162 82% 40%;
  --teal-7-hsl: 162 87% 35%;
  --teal-8-hsl: 162 88% 30%;
  --teal-9-hsl: 162 88% 26%;
  --teal-10-hsl: 162 89% 21%;
  --teal-11-hsl: 162 88% 16%;
  --teal-12-hsl: 163 89% 11%;
}
