@custom-media --safariONLY      (-apple-pay-button-style: inherit);
@custom-media --firefoxONLY     (-moz-appearance: inherit);
@custom-media --firefoxMacONLY  (-moz-osx-font-smoothing: inherit);
@custom-media --chromeONLY      (-webkit-app-region: inherit) and (not (container-type: none));
@custom-media --chromiumONLY    (-webkit-app-region: inherit) and (container-type: none);
@custom-media --webkitONLY      (alt: inherit) and (not (-apple-pay-button-style: inherit));

:where(html) {
  --isLTR: 1;
  --isRTL: -1;
  
  &:dir(rtl) {
    --isLTR: -1;
    --isRTL: 1;
  }
}
