:where(html) {
  --gray-0-hsl: 210 17% 98%;
  --gray-1-hsl: 210 17% 95%;
  --gray-2-hsl: 210 16% 93%;
  --gray-3-hsl: 210 14% 89%;
  --gray-4-hsl: 210 14% 83%;
  --gray-5-hsl: 210 11% 71%;
  --gray-6-hsl: 210 7% 56%;
  --gray-7-hsl: 210 9% 31%;
  --gray-8-hsl: 210 10% 23%;
  --gray-9-hsl: 210 11% 15%;
  --gray-10-hsl: 214 14% 10%;
  --gray-11-hsl: 216 16% 6%;
  --gray-12-hsl: 210 40% 2%;
}
