:where(html) {
  --grape-0-hsl: 280 67% 96%;
  --grape-1-hsl: 287 77% 92%;
  --grape-2-hsl: 288 86% 86%;
  --grape-3-hsl: 289 85% 78%;
  --grape-4-hsl: 288 83% 71%;
  --grape-5-hsl: 288 75% 64%;
  --grape-6-hsl: 288 67% 58%;
  --grape-7-hsl: 288 56% 52%;
  --grape-8-hsl: 288 54% 46%;
  --grape-9-hsl: 288 54% 40%;
}
