:where(html) {
  --animation-fade-in: fade-in .5s var(--ease-3);
  --animation-fade-out: fade-out .5s var(--ease-3);
  --animation-scale-up: scale-up var(--scale-duration, 1ms) var(--ease-3);
  --animation-scale-down: scale-down var(--scale-duration, 1ms) var(--ease-3);
  --animation-slide-out-up: slide-out-up var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-out-down: slide-out-down var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-out-right: slide-out-right var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-out-left: slide-out-left var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-in-up: slide-in-up var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-in-down: slide-in-down var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-in-right: slide-in-right var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-slide-in-left: slide-in-left var(--slide-duration, 2s) var(--slide-easing, steps(3, jump-both));
  --animation-shake-x: shake-x var(--shake-duration, 3s) var(--shake-easing, steps(1));
  --animation-shake-y: shake-y var(--shake-duration, 3s) var(--shake-easing, steps(1));
  --animation-spin: spin 2s var(--spin-easing, steps(4, jump-start)) infinite;
  --animation-ping: ping var(--ping-duration, 4s) var(--ping-easing, steps(4, jump-start)) infinite;
  --animation-blink: blink var(--blink-duration, 2s) var(--ease-out-3) infinite;
  --animation-float: float 3s var(--float-ease, steps(2, jump-start)) infinite;
  --animation-bounce: bounce var(--bounce-duration, 4s) var(--bounce-ease, steps(2)) infinite;
  --animation-pulse: pulse 2s var(--pulse-ease, steps(2, jump-start)) infinite;
}

@keyframes fade-in {
  to { opacity: 1 }
}
@keyframes fade-out {
  to { opacity: 0 }
}
@keyframes scale-up {
  to { transform: scale(1.25) }
}
@keyframes scale-down {
  to { transform: scale(.75) }
}
@keyframes slide-out-up {
  to { transform: translateY(-100%) }
}
@keyframes slide-out-down {
  to { transform: translateY(100%) }
}
@keyframes slide-out-right {
  to { transform: translateX(100%) }
}
@keyframes slide-out-left {
  to { transform: translateX(-100%) }
}
@keyframes slide-in-up {
  from { transform: translateY(100%) }
}
@keyframes slide-in-down {
  from { transform: translateY(-100%) }
}
@keyframes slide-in-right {
  from { transform: translateX(-100%) }
}
@keyframes slide-in-left {
  from { transform: translateX(100%) }
}
@keyframes shake-x {
  0%, 100% { transform: translateX(0%) }
  20% { transform: translateX(-5%) }
  40% { transform: translateX(5%) }
  60% { transform: translateX(-5%) }
  80% { transform: translateX(5%) }
}
@keyframes shake-y {
  0%, 100% { transform: translateY(0%) }
  20% { transform: translateY(-5%) }
  40% { transform: translateY(5%) }
  60% { transform: translateY(-5%) }
  80% { transform: translateY(5%) }
}
@keyframes spin {
  to { transform: rotate(1turn) }
}
@keyframes ping {
  90%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes blink {
  0%, 100% {
    opacity: 1
  }
  50% {
    opacity: .5
  }
}
@keyframes float {
  50% { transform: translateY(-25%) }
}
@keyframes bounce {
  25% { transform: translateY(-20%) }
  40% { transform: translateY(-3%) }
  0%, 60%, 100% { transform: translateY(0) }
}
@keyframes pulse {
  50% { transform: scale(.9,.9) }
}
@media (--motionOK) {
  :where(html) {
    --scale-duration: .5s;
    --slide-duration: .5s;
    --slide-easing: var(--ease-3);
    --shake-duration: .75s;
    --shake-easing: var(--ease-out-5);
    --spin-easing: linear;
    --ping-duration: 5s;
    --ping-easing: var(--ease-out-3);
    --blink-duration: 1s;
    --float-ease: var(--ease-out-3);
    --bounce-duration: 2s;
    --bounce-ease: var(--ease-squish-2);
    --pulse-duration: 2s;
    --pulse-ease: var(--ease-out-3);
  }
}