:where(html) {
  --mask-corner-cut-circles-1: radial-gradient(circle 1rem,#0000 99%,#000) 10000% 10000% / 99.5% 99.5%;
  --mask-corner-cut-circles-2: radial-gradient(circle 2rem,#0000 99%,#000) 10000% 10000% / 99.5% 99.5%;
  --mask-corner-cut-circles-3: radial-gradient(circle 4rem,#0000 99%,#000) 10000% 10000% / 99.5% 99.5%;
  --mask-corner-cut-squares-1: 
    conic-gradient(from calc(90deg / -2 -  45deg) at top    1rem left  1rem,#0000 90deg,#000 0) 0    0,
    conic-gradient(from calc(90deg / -2 +  45deg) at top    1rem right 1rem,#0000 90deg,#000 0) 100% 0,
    conic-gradient(from calc(90deg / -2 - 135deg) at bottom 1rem left  1rem,#0000 90deg,#000 0) 0    100%,
    conic-gradient(from calc(90deg / -2 + 135deg) at bottom 1rem right 1rem,#0000 90deg,#000 0) 100% 100%
  ;
  --mask-corner-cut-squares-2: 
    conic-gradient(from calc(90deg / -2 -  45deg) at top    2rem left  2rem,#0000 90deg,#000 0) 0    0,
    conic-gradient(from calc(90deg / -2 +  45deg) at top    2rem right 2rem,#0000 90deg,#000 0) 100% 0,
    conic-gradient(from calc(90deg / -2 - 135deg) at bottom 2rem left  2rem,#0000 90deg,#000 0) 0    100%,
    conic-gradient(from calc(90deg / -2 + 135deg) at bottom 2rem right 2rem,#0000 90deg,#000 0) 100% 100%
  ;
  --mask-corner-cut-squares-3: 
    conic-gradient(from calc(90deg / -2 -  45deg) at top    4rem left  4rem,#0000 90deg,#000 0) 0    0,
    conic-gradient(from calc(90deg / -2 +  45deg) at top    4rem right 4rem,#0000 90deg,#000 0) 100% 0,
    conic-gradient(from calc(90deg / -2 - 135deg) at bottom 4rem left  4rem,#0000 90deg,#000 0) 0    100%,
    conic-gradient(from calc(90deg / -2 + 135deg) at bottom 4rem right 4rem,#0000 90deg,#000 0) 100% 100%
  ;
  --mask-corner-cut-angles-1: 
    conic-gradient(from calc(180deg / -2 -  45deg) at top    1rem left  1rem,#0000 180deg,#000 0) 0    0,
    conic-gradient(from calc(180deg / -2 +  45deg) at top    1rem right 1rem,#0000 180deg,#000 0) 100% 0,
    conic-gradient(from calc(180deg / -2 - 135deg) at bottom 1rem left  1rem,#0000 180deg,#000 0) 0    100%,
    conic-gradient(from calc(180deg / -2 + 135deg) at bottom 1rem right 1rem,#0000 180deg,#000 0) 100% 100%
  ;
  --mask-corner-cut-angles-2: 
    conic-gradient(from calc(180deg / -2 -  45deg) at top    2rem left  2rem,#0000 180deg,#000 0) 0    0,
    conic-gradient(from calc(180deg / -2 +  45deg) at top    2rem right 2rem,#0000 180deg,#000 0) 100% 0,
    conic-gradient(from calc(180deg / -2 - 135deg) at bottom 2rem left  2rem,#0000 180deg,#000 0) 0    100%,
    conic-gradient(from calc(180deg / -2 + 135deg) at bottom 2rem right 2rem,#0000 180deg,#000 0) 100% 100%
  ;
  --mask-corner-cut-angles-3: 
    conic-gradient(from calc(180deg / -2 -  45deg) at top    4rem left  4rem,#0000 180deg,#000 0) 0    0,
    conic-gradient(from calc(180deg / -2 +  45deg) at top    4rem right 4rem,#0000 180deg,#000 0) 100% 0,
    conic-gradient(from calc(180deg / -2 - 135deg) at bottom 4rem left  4rem,#0000 180deg,#000 0) 0    100%,
    conic-gradient(from calc(180deg / -2 + 135deg) at bottom 4rem right 4rem,#0000 180deg,#000 0) 100% 100%
  ;
}
