html {
  --ease-1: cubic-bezier(.25, 0, .5, 1);
  --ease-2: cubic-bezier(.25, 0, .4, 1);
  --ease-3: cubic-bezier(.25, 0, .3, 1);
  --ease-4: cubic-bezier(.25, 0, .2, 1);
  --ease-5: cubic-bezier(.25, 0, .1, 1);

  --ease-in-1: cubic-bezier(.25, 0, 1, 1);
  --ease-in-2: cubic-bezier(.50, 0, 1, 1);
  --ease-in-3: cubic-bezier(.70, 0, 1, 1);
  --ease-in-4: cubic-bezier(.90, 0, 1, 1);
  --ease-in-5: cubic-bezier(1, 0, 1, 1);

  --ease-out-1: cubic-bezier(0, 0, .75, 1);
  --ease-out-2: cubic-bezier(0, 0, .50, 1);
  --ease-out-3: cubic-bezier(0, 0, .3, 1);
  --ease-out-4: cubic-bezier(0, 0, .1, 1);
  --ease-out-5: cubic-bezier(0, 0, 0, 1);

  --ease-inout-1: cubic-bezier(.1, 0, .9, 1);
  --ease-inout-2: cubic-bezier(.3, 0, .7, 1);
  --ease-inout-3: cubic-bezier(.5, 0, .5, 1);
  --ease-inout-4: cubic-bezier(.7, 0, .3, 1);
  --ease-inout-5: cubic-bezier(.9, 0, .1, 1);

  --ease-elastic: cubic-bezier(.2, .9, .4, 1.25);
  /* todo: --ease-elastic-1-5; */

  --ease-squish: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  /* todo: --ease-squish-1-5; */

  --ease-step-1: steps(2);
  --ease-step-2: steps(3);
  --ease-step-3: steps(4);
  --ease-step-4: steps(7);
  --ease-step-5: steps(10);
}
