:where(html) {
  --brown-0-hsl: 36 60% 95%;
  --brown-1-hsl: 32 44% 87%;
  --brown-2-hsl: 28 40% 80%;
  --brown-3-hsl: 28 38% 72%;
  --brown-4-hsl: 27 36% 65%;
  --brown-5-hsl: 28 34% 57%;
  --brown-6-hsl: 28 32% 50%;
  --brown-7-hsl: 28 35% 43%;
  --brown-8-hsl: 28 38% 37%;
  --brown-9-hsl: 27 42% 31%;
  --brown-10-hsl: 25 48% 25%;
  --brown-11-hsl: 23 58% 19%;
  --brown-12-hsl: 22 57% 16%;
}
