:where(html) {
  --border-size-1: 1px;
  --border-size-2: 2px;
  --border-size-3: 5px;
  --border-size-4: 10px;
  --border-size-5: 25px;

  --radii-1: 2px;
  --radii-2: 5px;
  --radii-3: 1rem;
  --radii-4: 2rem;
  --radii-5: 4rem;
  --radii-6: 8rem;

  --radii-round: 1e5px;
  --radii-blob-1: 30% 70% 70% 30% / 53% 30% 70% 47%;
  --radii-blob-2: 53% 47% 34% 66% / 63% 46% 54% 37%;
  --radii-blob-3: 37% 63% 56% 44% / 49% 56% 44% 51%;
  --radii-blob-4: 63% 37% 37% 63% / 43% 37% 63% 57%;
  --radii-blob-5: 49% 51% 48% 52% / 57% 44% 56% 43%;
}
