:root {
  --shadow: 220 0% 15%;
  --shadow-strength: 1%;

  --shadow-1: 0 1px 2px 0 hsl(0 0% 0% / 5%);
  --shadow-4:
    0 -2px 5px 0 hsl(var(--shadow) / calc(var(--shadow-strength) + 5%)),
    0 1px 1px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 10%)),
    0 2px 2px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 12%)),
    0 5px 5px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 13%)),
    0 9px 9px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 14%)),
    0 16px 16px -2px hsl(var(--shadow) / calc(var(--shadow-strength) + 20%))
  ;
  /* 
  --shadow-2: ;
  --shadow-3: ;
  --shadow-4: ;
  --shadow-5: ;
  --shadow-6: ;

  --shadow-inner-1: inset 0 2px 4px 0 hsl(0 0% 0% / 5%);
  --shadow-inner-2: ;

  --drop-shadow-1: ;
  --drop-shadow-2: ;
  --drop-shadow-3: ;
   */

  @media (--dark) {
    --shadow-strength: 5%;
    --shadow: 220 0% 2%;
  }
}