/* natural LCH: made with https://components.ai/theme/ */
/* todo: ship HD colors */
:where(html) {
  --gray-0: #fdfdfd;
  --gray-1: #d1d1d1;
  --gray-2: #a7a7a7;
  --gray-3: #828282;
  --gray-4: #626262;
  --gray-5: #484848;
  --gray-6: #333333;
  --gray-7: #232323;
  --gray-8: #151515;
  --gray-9: #010101;
  --cool-gray-0: #edeef0;
  --cool-gray-1: #c2c2ca;
  --cool-gray-2: #9a9ba6;
  --cool-gray-3: #767886;
  --cool-gray-4: #585a69;
  --cool-gray-5: #404250;
  --cool-gray-6: #2e2f3c;
  --cool-gray-7: #20212a;
  --cool-gray-8: #15161b;
  --cool-gray-9: #07070a;
  --blue-0: #ebedf9;
  --blue-1: #b9c0ea;
  --blue-2: #8896d9;
  --blue-3: #5972c4;
  --blue-4: #2a54ac;
  --blue-5: #003d91;
  --blue-6: #002c72;
  --blue-7: #001e52;
  --blue-8: #071432;
  --blue-9: #040613;
  --indigo-0: #f0ebfc;
  --indigo-1: #cdbdf4;
  --indigo-2: #a791ec;
  --indigo-3: #7e66e2;
  --indigo-4: #4c3dd8;
  --indigo-5: #2b27b8;
  --indigo-6: #28208a;
  --indigo-7: #22195e;
  --indigo-8: #191236;
  --indigo-9: #090512;
  --purple-0: #f6eaff;
  --purple-1: #ddb4ff;
  --purple-2: #c081f9;
  --purple-3: #a053ed;
  --purple-4: #8029d9;
  --purple-5: #6100bc;
  --purple-6: #480097;
  --purple-7: #34006d;
  --purple-8: #230641;
  --purple-9: #110218;
  --pink-0: #fdebfd;
  --pink-1: #f3b9f6;
  --pink-2: #e489ec;
  --pink-3: #d059dd;
  --pink-4: #b62ac7;
  --pink-5: #9900ab;
  --pink-6: #780088;
  --pink-7: #570062;
  --pink-8: #35063b;
  --pink-9: #160416;
  --red-0: #feecea;
  --red-1: #f5b6b0;
  --red-2: #e5827c;
  --red-3: #cd5151;
  --red-4: #b12231;
  --red-5: #91001b;
  --red-6: #71000e;
  --red-7: #510003;
  --red-8: #320500;
  --red-9: #130200;
  --orange-0: #fcf4e0;
  --orange-1: #f6d69f;
  --orange-2: #f2b765;
  --orange-3: #ec9936;
  --orange-4: #e17e08;
  --orange-5: #a05900;
  --orange-6: #6e4309;
  --orange-7: #51330f;
  --orange-8: #35210e;
  --orange-9: #1a1006;
  --yellow-0: #ffffe4;
  --yellow-1: #ffffb4;
  --yellow-2: #fffc84;
  --yellow-3: #f9f255;
  --yellow-4: #e4d71f;
  --yellow-5: #af9d02;
  --yellow-6: #786a11;
  --yellow-7: #544d12;
  --yellow-8: #353210;
  --yellow-9: #1b1a09;
  --green-0: #e9feea;
  --green-1: #b3f9af;
  --green-2: #80ef72;
  --green-3: #4de03a;
  --green-4: #00bf0e;
  --green-5: #00842d;
  --green-6: #145b2b;
  --green-7: #1a4121;
  --green-8: #162816;
  --green-9: #0a1207;
  --teal-0: #f0fbf6;
  --teal-1: #a9eacd;
  --teal-2: #62d4a7;
  --teal-3: #00ba8d;
  --teal-4: #009d7f;
  --teal-5: #007e6e;
  --teal-6: #065f57;
  --teal-7: #17433d;
  --teal-8: #142a24;
  --teal-9: #08120e;
  --cyan-0: #e1f7fa;
  --cyan-1: #b9ebf2;
  --cyan-2: #74d7e3;
  --cyan-3: #24c3d3;
  --cyan-4: #00a8b6;
  --cyan-5: #21828a;
  --cyan-6: #25686f;
  --cyan-7: #214b50;
  --cyan-8: #182e31;
  --cyan-9: #091112;
}

/* :root {
  --gray-chroma: 0%;
  --gray-hue: 0deg;
  --gray-base: var(--gray-chroma) var(--gray-hue);
  --gray-mid: lch(50% var(--gray-base));

  --cool-gray-chroma: 20%;
  --cool-gray-hue: 210deg;
  --cool-gray-base: var(--cool-gray-chroma) var(--cool-gray-hue);
  --cool-gray-mid: lch(50% var(--cool-gray-base));

  --red-chroma: 80%;
  --red-hue: 0deg;
  --red-base: var(--red-chroma) var(--red-hue);
  --red-mid: lch(50% var(--red-base));
} */
