html {
  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 2.5rem;
  --size-9: 3rem;
  --size-10: 3.5rem;
  --size-11: 4rem;
  --size-12: 5rem;
  --size-13: 7rem;
  --size-14: 9rem;
  --size-15: 10rem;

  --size-fluid-1: clamp(.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(3rem, 5vw, 4rem);
  --size-fluid-6: clamp(4rem, 6vw, 5rem);
  --size-fluid-7: clamp(5rem, 7vw, 6rem);
  --size-fluid-8: clamp(6rem, 8vw, 7rem);
  --size-fluid-9: clamp(7rem, 9vw, 8rem);
  --size-fluid-10: clamp(8rem, 10vw, 10rem);

  --size-content-1: 20ch;
  --size-content-2: 45ch;
  --size-content-3: 60ch;

  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 45rem;
}
