/* todo: add :where() all over? */
/* shift all props to html {}? */

*, ::before, ::after { box-sizing: border-box; }

* {
  background-origin: border-box;
  background-repeat: no-repeat;
  border-width: 0;
  border-style: solid;
  margin: 0;
}

:root {
  color-scheme: dark light;
  font-family: var(--font-sans);
}

html {
  block-size: 100%;
  line-height: var(--font-leading-3);

  &:focus-within {
    @media (--motionOK) {
      scroll-behavior: smooth;
    }
  }
}

body { min-block-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  max-inline-size: var(--size-header-normal);
  line-height: var(--font-relative-leading-3);
}

p {
  font-size: var(--size-4);
  font-weight: var(--font-normal);
  max-inline-size: var(--size-content-normal);
  line-height: var(--font-leading-3);
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  cursor: pointer;
  touch-action: manipulation;
}

button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

img, svg, video {
  max-inline-size: 100%;
  block-size: auto;
}

input, button, textarea, select {
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
}

textarea { resize: block; }

img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
  vertical-align: middle;
}

svg {
  stroke: none;
  fill: currentColor;

  &:not([fill]) {
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &:not([width]) {
    max-inline-size: 5ch;
  }
}

code, kbd, samp, pre {
  font-family: var(--font-mono);
}

pre { white-space: pre-wrap; }

small { 
  font-size: .75ch; 
  max-inline-size: var(--size-content-tight);
}