.gradientSwatch {
  border-radius: var(--radius-2);
  aspect-ratio: var(--ratio-landscape);
}

.uiGradients {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(var(--size-content-2), 30vw);
  gap: var(--size-2);
  scroll-snap-type: x mandatory;
  padding-inline: var(--gap);
  scroll-padding-inline: var(--size-8);

  @media (--md-n-below) {
    scroll-padding-inline: var(--size-3);
  }

  & > * {
    scroll-snap-align: start;
    display: grid;
    justify-content: flex-start;
    
    &::before {
      font-size: var(--font-size-fluid-1);
      background: var(--surface-1);
      color: var(--text-1);
      box-shadow: var(--shadow-2);
      text-shadow: 0 1px 0 hsl(0 0% 0% / 25%);
      inline-size: 3ch;
      display: grid;
      place-content: center;
      margin: var(--size-3);
      aspect-ratio: var(--ratio-square);
      border-radius: var(--radius-round);
    }
  }

  @media (--md-n-below) {
    grid-auto-columns: minmax(var(--size-content-1), 30vw);
  }
}

.normalGradients {
  composes: uiGradients;
  composes: scroll-x-overflow count-em from global;
}

.noisyGradients {
  composes: uiGradients;
  composes: noisy scroll-x-overflow from global;

  & > * {
    background-size: cover;
    filter: var(--noise-filter-1);
  }
}
