.shadowDemos {
  composes: count-em from global;
  display: flex;
  flex-flow: row wrap;
  gap: var(--size-5);
  
  & > div {
    background: white;
    inline-size: var(--size-12);
    aspect-ratio: var(--ratio-square);
    border-radius: var(--radius-3);
    display: grid;
    place-content: center;

    &::before {
      counter-increment: basic;
      content: "Shadow " counter(basic);
    }

    @nest [data-theme="dark"] & {
      background: var(--surface-2);
    }
  }

  &:nth-of-type(2) {
    counter-reset: basic -1;

    & > div::before {
      content: "Inner Shadow " counter(basic);
    }
  }
}
